@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Luxurious+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    height: 100%;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Cardo', serif;
}

body {
    font-family: 'Luxurious Roman', cursive;
}
/* ----- */

.material-icons-outlined.md-30 { font-size: 30px; }

.nav-bar{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}

.nav-bar h2{
    display: inline-block;
    padding-left: 2px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: left;
}

li a {
    display: flex;
    color: rgb(202, 202, 202);
    justify-content: center;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

li a:hover{
    background-color: rgb(102, 102, 102);
}

/* ----------------------------------------------------------------- */

.content{
    padding: 5%;
}

/* ------ */

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insert-div button{
    padding: 20% 25%;
    color: #14961f;
}

.insert-div button:hover{
    color: #50ce5b;
    cursor:pointer;
}


/* MODAL CSS */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.9);
}
  
.modal-container:target {
    display: flex;
}
  
.modal {
    width: 40rem;
    padding: 1rem 2rem;
    border-radius: .8rem;
    border: 5px solid #000000;
    color: #000000;
    background: #cfcfcf;
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
  
.modal__details {
    text-align: left;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;   
}
  
.modal__title {
    font-size: 1.2rem;
    text-align: center;
}

.modal__description {
    margin-top: 2rem;
    font-size: 0.6rem;
    font-style: italic;
}

.insert{
    margin-top: 0.5%;
    text-align: center;
}

.input {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.input:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

  
.link-2 {
    width: 3rem;
    height: 3rem;
    border: 1px solid #55555566;
    border-radius: 100rem;
    color: inherit;
    font-size: 2.2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
  
.link-2::before {
    content: '×';
    transform: translateY(-.1rem);
}
  
.link-2:hover, .link-2:focus {
    border-color: #00000066;
    transform: translateY(-.2rem);
}
.modal input, .modal select{
    margin: 10px 0px;
}

/* ------------------------------------------------------- */

.table-products {
    margin-top: 1rem;
}

.table-products button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.table-products th{
    padding: 1.5rem;
    background-color: #000000;
    color: #ffffff;
}

.table-products td{
    padding: 1%;
    white-space: wrap; 
}

table.table-products, table.table-products th, table.table-productstd{
    text-align: center;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
}

table.table-products th.select, table.table-products th.more{
    padding: 0.4rem;
}

table.table-products td.id{
    background-color: #000000;
    color: #ffffff;
}

table.table-products tr:nth-child(odd) { 
    background-color:#eee; 
}

table.table-products tr:nth-child(even) { 
    background-color:#fff; 
}

.material-icons-outlined.del{
    color: #d80000;
}
/* -------- */

.print-div button{
    padding: 15% 20%;
    color: #000;
    margin-right: 16px;
}


.lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
