<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Inventory</title>
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><span class="material-icons-outlined md-30">dashboard</span></li>
            <li><h2>Olives</h2></li>
            <li style="float: right;"><a href="{{url_for('insert')}}">Products</a></li>
            <li style="float: right;"><a href="{{url_for('index')}}">Dashboard</a></li>
        </ul>
    </div>
    <div class="dashboard">
        <div class="div1">
            <p>Total profits : <br><br><span class="content">₹{{ data['total_profits'] }}</span></p>
        </div>
        <div class="div2">
            <p>No of Sales : <br><br><span class="content">{{ data['no_of_sales'] }}</span></p>
        </div>
        <div class="div3">
            <p>Total expense (on products) : <br><br><span class="content">₹{{ data['selling_price'] }}</span></p>
        </div>
    </div>
    
</body>
</html>