{% extends "base.html" %}
{% set active_page = "sales" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sales.css')}}">
{% endblock %}
{% block title %}Sales{% endblock %}

{% block content %}

<div class="add" style="float: right; margin: 2vh;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal"><span
            class="material-icons-outlined">add</span>Add</button>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby=" addModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Sale</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form method="post" action="{{ url_for( 'add_sale' ) }}">
                    <div class="modal-body">
                        <div class="initial-details">
                            <input list="names" name="customer-name" id="name" autocomplete="false"
                                placeholder="Customer name">
                            <datalist id="names">
                                {% for name in rows['customers'] %}
                                <option value="{{ name[0] }}">
                                    {% endfor %}
                            </datalist><br>
                            <!-- <label for="address">Address: </label> -->
                            <input list="addresses" name="address" id="address" autocomplete="false"
                                placeholder="Address">
                            <datalist id="addresses">
                                {% for address in rows['addresses'] %}
                                <option value="{{ address[0] }}">
                                    {% endfor %}
                            </datalist><br>
                            <!-- <label for="city-state">City/State: </label> -->
                            <input list="city-states" name="city-state" id="city-state" autocomplete="false"
                                placeholder="City/State">
                            <datalist id="city-states">
                                <option value="City1">
                            </datalist><br>
                            <!-- <label for="contact">Mobile: </label> -->
                            <input list="contacts" name="contact" id="contact" autocomplete="false"
                                placeholder="Contact No">
                            <datalist id="contacts">
                                {% for contact in rows['contacts'] %}
                                <option value="{{ contact[0] }}">
                                    {% endfor %}
                            </datalist><br><br>
                        </div>

                        <table id="product-table" border="1">
                            <thead>
                                <th style="padding: 5px;">Product Name</th>
                                <th style="padding: 5px; text-align: center;">Quantity</th>
                                <th style="padding: 5px; text-align: center;">Rate</th>
                            </thead>
                            <tbody>
                                {% for i in range(1, 11) %}
                                <tr>
                                    <td><input type="text" name="prod-{{ i }}"></td>
                                    <td><input style="padding: 5px; text-align: center;" type="number" name="quant-{{ i }}" min="0"
                                            value="0"></td>
                                    <td><input style="padding: 5px; text-align: center;" type="number" name="rate-{{ i }}" min="0"
                                            value="0"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" name="add-sale" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="boot">
    <div class="table-responsive-md" style="margin: 2vh">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Purchase</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Item Count</th>
                    <th scope="col">Bill Amt</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows['data'] %}
                <tr>
                    <th scope="row">{{ row[0] }}</th>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#editModal-{{ row[0] }}"><span class="material-icons-outlined"
                                style="color: rgb(27, 0, 59);">edit</span></button>

                        <!-- Modal -->
                        <div class="modal fade" id="editModal-{{ row[0] }}" tabindex="-1" role="dialog"
                            aria-labelledby=" editModalLabel-{{ row[0] }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel-{{ row[0] }}">Edit Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#viewModal-{{ row[0] }}"><span class="material-icons-outlined"
                                style="color: rgb(27, 0, 59);">pageview</span></button>

                        <!-- Modal -->
                        <div class="modal fade" id="viewModal-{{ row[0] }}" tabindex="-1" role="dialog"
                            aria-labelledby=" viewModalLabel-{{ row[0] }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewModalLabel-{{ row[0] }}"><span
                                                style="font-weight: bold;">Customer: </span>{{ row[1] }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-body view">
                                        <p><span style="font-weight: bold;">Date of Purchase: </span>{{ row[9] }} <br>
                                        </p>
                                        <p><span style="font-weight: bold;">Address: </span>{{ row[2] }} <br></p>
                                        <p><span style="font-weight: bold;">City/State: </span>{{ row[10] }} <br></p>
                                        <p><span style="font-weight: bold;">Contact: </span>{{ row[3] }} <br><br></p>
                                        {% set _products = row[4].split('$$') %}
                                        {% set _quantity = row[5].split(',') %}
                                        {% set _rates = row[6].split(',') %}
                                        <table class="table table-striped">
                                            <thead>
                                                <th scope="col">#</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Rate</th>
                                            </thead>
                                            <tbody>
                                                {% for j in range(_products|length) %}
                                                <tr>
                                                    <th scope="row">{{ j+1 }}</th>
                                                    <td>{{ _products[j] }}</td>
                                                    <td>{{ _quantity[j] }}</td>
                                                    <td>{{ _rates[j] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal-footer">
                                        <p><span style="font-weight: bold;">Total Amt: </span>₹ {{ row[7] }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<script type="text/javascript">

    $( document ).ready( function () {
        $( ".table" ).fancyTable( {
            /* Column number for initial sorting*/
            sortColumn: 0,
            /* Setting pagination or enabling */
            pagination: true,
            /* Rows per page kept for display */
            perPage: 1,
            globalSearch: true
        } );

    } );
</script>
</script>


{% endblock %}